<a href="https://colab.research.google.com/github/gchaewon/Euron5th_BusTayo/blob/main/preprocessing_train.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 서울시 버스 승하차 예측 데이터 전처리 - train

In [1]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')

## 1. 데이터 로딩

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

train 데이터 이어붙이기 22/9 ~ 23/8까지 월별 서울시 버스 승하차 데이터

In [3]:
path = '/content/drive/MyDrive/Euron/프로젝트/'


train_files = ['bus_22_9.csv', 'bus_22_10.csv', 'bus_22_11.csv', 'bus_22_12.csv', 'bus_23_1.csv', 'bus_23_2.csv',
        'bus_23_3.csv', 'bus_23_4.csv', 'bus_23_5.csv', 'bus_23_6.csv', 'bus_23_7.csv', 'bus_23_8.csv']

train_df = [pd.read_csv(path+'train/'+f, encoding='cp949') for f in train_files]

train = pd.concat(train_df)

print(train.shape)
train.head(1)

(498176, 57)

,사용년월,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,등록일자
0,202209,741,741번(진관차고지~헌인릉입구),100000001,1001,종로2가사거리(00077),92,77,105,118,...,194,263,179,243,163,214,135,10,서울간선버스,20221003

In [4]:
train.tail(1)

,사용년월,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,등록일자
41649,202308,9701,9701번(가좌동~서울역),999800005,~,가좌동종점(종점가상)(00127),0,2,0,6,...,0,0,5,0,7,0,1,50,서울광역버스,20230903

## 2. 전처리

### 1) 불필요한 피처 삭제

등록일자, 교통수단타입코드, 버스정류장ARS번호, 표준버스정류장ID, 노선명

In [5]:
train.columns

Index(['사용년월', '노선번호', '노선명', '표준버스정류장ID', '버스정류장ARS번호', '역명', '00시승차총승객수',
       '00시하차총승객수', '1시승차총승객수', '1시하차총승객수', '2시승차총승객수', '2시하차총승객수', '3시승차총승객수',
       '3시하차총승객수', '4시승차총승객수', '4시하차총승객수', '5시승차총승객수', '5시하차총승객수', '6시승차총승객수',
       '6시하차총승객수', '7시승차총승객수', '7시하차총승객수', '8시승차총승객수', '8시하차총승객수', '9시승차총승객수',
       '9시하차총승객수', '10시승차총승객수', '10시하차총승객수', '11시승차총승객수', '11시하차총승객수',
       '12시승차총승객수', '12시하차총승객수', '13시승차총승객수', '13시하차총승객수', '14시승차총승객수',
       '14시하차총승객수', '15시승차총승객수', '15시하차총승객수', '16시승차총승객수', '16시하차총승객수',
       '17시승차총승객수', '17시하차총승객수', '18시승차총승객수', '18시하차총승객수', '19시승차총승객수',
       '19시하차총승객수', '20시승차총승객수', '20시하차총승객수', '21시승차총승객수', '21시하차총승객수',
       '22시승차총승객수', '22시하차총승객수', '23시승차총승객수', '23시하차총승객수', '교통수단타입코드',
       '교통수단타입명', '등록일자'],
      dtype='object')

In [6]:
train = train.drop(['등록일자', '교통수단타입코드', '버스정류장ARS번호', '표준버스정류장ID', '노선명'], axis =1)
train.columns

Index(['사용년월', '노선번호', '역명', '00시승차총승객수', '00시하차총승객수', '1시승차총승객수', '1시하차총승객수',
       '2시승차총승객수', '2시하차총승객수', '3시승차총승객수', '3시하차총승객수', '4시승차총승객수', '4시하차총승객수',
       '5시승차총승객수', '5시하차총승객수', '6시승차총승객수', '6시하차총승객수', '7시승차총승객수', '7시하차총승객수',
       '8시승차총승객수', '8시하차총승객수', '9시승차총승객수', '9시하차총승객수', '10시승차총승객수',
       '10시하차총승객수', '11시승차총승객수', '11시하차총승객수', '12시승차총승객수', '12시하차총승객수',
       '13시승차총승객수', '13시하차총승객수', '14시승차총승객수', '14시하차총승객수', '15시승차총승객수',
       '15시하차총승객수', '16시승차총승객수', '16시하차총승객수', '17시승차총승객수', '17시하차총승객수',
       '18시승차총승객수', '18시하차총승객수', '19시승차총승객수', '19시하차총승객수', '20시승차총승객수',
       '20시하차총승객수', '21시승차총승객수', '21시하차총승객수', '22시승차총승객수', '22시하차총승객수',
       '23시승차총승객수', '23시하차총승객수', '교통수단타입명'],
      dtype='object')

### 2) 심야 시간 10시 ~ 5시 데이터 삭제

In [7]:
hours_to_drop = ['22시승차총승객수', '22시하차총승객수', '23시승차총승객수', '23시하차총승객수',
                 '00시승차총승객수', '00시하차총승객수', '1시승차총승객수', '1시하차총승객수',
                 '2시승차총승객수', '2시하차총승객수', '3시승차총승객수', '3시하차총승객수',
                 '4시승차총승객수', '4시하차총승객수', '5시승차총승객수', '5시하차총승객수']

train = train.drop(columns=hours_to_drop, axis=1)

In [8]:
train.head(1)

,사용년월,노선번호,역명,6시승차총승객수,6시하차총승객수,7시승차총승객수,7시하차총승객수,8시승차총승객수,8시하차총승객수,9시승차총승객수,...,17시하차총승객수,18시승차총승객수,18시하차총승객수,19시승차총승객수,19시하차총승객수,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,교통수단타입명
0,202209,741,종로2가사거리(00077),139,95,515,259,379,300,430,...,555,416,627,342,389,301,194,263,179,서울간선버스

### 3) 심야버스 제거

In [9]:
train = train[train['교통수단타입명'] != '서울심야버스']
count = train[train['교통수단타입명'] == '서울심야버스'].shape[0]
print(f'서울심야버스인 행의 개수: {count}')

서울심야버스인 행의 개수: 0

### 4) 역 고유 번호 피처 추가

역명 피처의 (00000) 5자리 번호를 역 고유 값 피처 역번호로 추가하기

In [10]:
train['역번호'] = train['역명'].str.extract(r'\((\d+)\)')

In [11]:
train.head(1)

,사용년월,노선번호,역명,6시승차총승객수,6시하차총승객수,7시승차총승객수,7시하차총승객수,8시승차총승객수,8시하차총승객수,9시승차총승객수,...,18시승차총승객수,18시하차총승객수,19시승차총승객수,19시하차총승객수,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,교통수단타입명,역번호
0,202209,741,종로2가사거리(00077),139,95,515,259,379,300,430,...,416,627,342,389,301,194,263,179,서울간선버스,00077

### 5) 피처명 변경
- month(월 단위)
- bus_route_id(표준 버스 정류장 ID)
- bus_id(노선 번호)
- station_name(역명)
- X~Y ride(1시간 단위 승차 총 승객 수)
- X~Y takeoff(1시간 단위 하차 총 승객 수)
- bus_type(교통 수단 타입명)
- bus_station_ID (역 고유 번호)

In [12]:
train.columns

Index(['사용년월', '노선번호', '역명', '6시승차총승객수', '6시하차총승객수', '7시승차총승객수', '7시하차총승객수',
       '8시승차총승객수', '8시하차총승객수', '9시승차총승객수', '9시하차총승객수', '10시승차총승객수',
       '10시하차총승객수', '11시승차총승객수', '11시하차총승객수', '12시승차총승객수', '12시하차총승객수',
       '13시승차총승객수', '13시하차총승객수', '14시승차총승객수', '14시하차총승객수', '15시승차총승객수',
       '15시하차총승객수', '16시승차총승객수', '16시하차총승객수', '17시승차총승객수', '17시하차총승객수',
       '18시승차총승객수', '18시하차총승객수', '19시승차총승객수', '19시하차총승객수', '20시승차총승객수',
       '20시하차총승객수', '21시승차총승객수', '21시하차총승객수', '교통수단타입명', '역번호'],
      dtype='object')

In [13]:
columns={'사용년월':'month', '노선번호': 'bus_id',
         '역명':'station_name', '교통수단타입명':'type', '역번호': 'bus_station_ID'}

train.rename(columns=columns, inplace=True)

In [14]:
# 승하차 칼럼명 변경
for hour in range(6, 22):
    ride_column = f'{hour}시승차총승객수'
    new_ride_column = f'{hour}~{hour+1}_ride'
    train.rename(columns={ride_column: new_ride_column}, inplace=True)

    takeoff_column = f'{hour}시하차총승객수'
    new_takeoff_column = f'{hour}~{hour+1}_takeoff'
    train.rename(columns={takeoff_column: new_takeoff_column}, inplace=True)

In [15]:
train.head(1)

,month,bus_id,station_name,6~7_ride,6~7_takeoff,7~8_ride,7~8_takeoff,8~9_ride,8~9_takeoff,9~10_ride,...,18~19_ride,18~19_takeoff,19~20_ride,19~20_takeoff,20~21_ride,20~21_takeoff,21~22_ride,21~22_takeoff,type,bus_station_ID
0,202209,741,종로2가사거리(00077),139,95,515,259,379,300,430,...,416,627,342,389,301,194,263,179,서울간선버스,00077

In [16]:
train.columns

Index(['month', 'bus_id', 'station_name', '6~7_ride', '6~7_takeoff',
       '7~8_ride', '7~8_takeoff', '8~9_ride', '8~9_takeoff', '9~10_ride',
       '9~10_takeoff', '10~11_ride', '10~11_takeoff', '11~12_ride',
       '11~12_takeoff', '12~13_ride', '12~13_takeoff', '13~14_ride',
       '13~14_takeoff', '14~15_ride', '14~15_takeoff', '15~16_ride',
       '15~16_takeoff', '16~17_ride', '16~17_takeoff', '17~18_ride',
       '17~18_takeoff', '18~19_ride', '18~19_takeoff', '19~20_ride',
       '19~20_takeoff', '20~21_ride', '20~21_takeoff', '21~22_ride',
       '21~22_takeoff', 'type', 'bus_station_ID'],
      dtype='object')

### 6) 2시간씩 묶기

In [17]:
ride_columns = [col for col in train.columns if '_ride' in col]
takeoff_columns = [col for col in train.columns if '_takeoff' in col]

# 새로운 칼럼 이름
new_ride_columns = ['6~8_ride', '8~10_ride', '10~12_ride', '12~14_ride', '14~16_ride', '16~18_ride', '18~20_ride', '20~22_ride']
new_takeoff_columns = ['6~8_takeoff', '8~10_takeoff', '10~12_takeoff', '12~14_takeoff', '14~16_takeoff', '16~18_takeoff', '18~20_takeoff', '20~22_takeoff']

# 각 시간대에 대해 ride와 takeoff 칼럼을 합쳐서 새로운 칼럼 생성
for i in range(len(new_ride_columns)):
    ride_column_names = ride_columns[i:i+2]
    takeoff_column_names = takeoff_columns[i:i+2]

    train[new_ride_columns[i]] = train[ride_column_names].sum(axis=1)
    train[new_takeoff_columns[i]] = train[takeoff_column_names].sum(axis=1)

# 기존의 ride와 takeoff 칼럼 삭제
train.drop(columns=ride_columns + takeoff_columns, inplace=True)

In [18]:
train.columns

Index(['month', 'bus_id', 'station_name', 'type', 'bus_station_ID', '6~8_ride',
       '6~8_takeoff', '8~10_ride', '8~10_takeoff', '10~12_ride',
       '10~12_takeoff', '12~14_ride', '12~14_takeoff', '14~16_ride',
       '14~16_takeoff', '16~18_ride', '16~18_takeoff', '18~20_ride',
       '18~20_takeoff', '20~22_ride', '20~22_takeoff'],
      dtype='object')

In [19]:
train.head(2)

,month,bus_id,station_name,type,bus_station_ID,6~8_ride,6~8_takeoff,8~10_ride,8~10_takeoff,10~12_ride,...,12~14_ride,12~14_takeoff,14~16_ride,14~16_takeoff,16~18_ride,16~18_takeoff,18~20_ride,18~20_takeoff,20~22_ride,20~22_takeoff
0,202209,741,종로2가사거리(00077),서울간선버스,00077,654,354,894,559,809,...,725,835,576,769,563,781,574,800,576,776
1,202209,470,종로2가사거리(00067),서울간선버스,00067,788,325,1232,626,1265,...,1269,745,1217,696,1157,815,1074,982,982,954

## 7) 날씨 데이터 (강수량, 평균 기온 칼럼 추가)

In [31]:
rain = pd.read_csv(path+'data/rain.csv', encoding='cp949')
rain = rain[8:20] # 22년 9월 ~ 23년 8월 데이터만 추출
rain = rain['강수량(mm)']
rain.reset_index(drop=True, inplace=True)
rain

0     201.5
1     124.1
2      84.5
3      13.6
4      47.9
5       1.0
6      10.5
7      96.9
8     155.6
9     195.6
10    459.9
11    298.1
Name: 강수량(mm), dtype: float64

In [32]:
temp = pd.read_csv(path+'data/temp.csv', encoding='cp949')
temp = temp[8:20] # 22년 9월 ~ 23년 8월 데이터만 추출
temp = temp['평균기온(℃)']
temp.reset_index(drop=True, inplace=True)
temp

0     22.4
1     14.6
2     10.0
3     -2.8
4     -1.5
5      2.3
6      9.8
7     13.8
8     19.5
9     23.4
10    26.7
11    27.2
Name: 평균기온(℃), dtype: float64

In [34]:
month = [202209, 202210, 202211, 202212, 202301, 202302, 202303, 202304, 202305, 202306, 202307,202308]
month = pd.DataFrame(month, columns = ['month'])

weather = pd.concat([month, rain, temp], axis=1)
weather.rename(columns={'강수량(mm)': 'rain', '평균기온(℃)': 'temp'}, inplace=True)
weather

     month   rain  temp
0   202209  201.5  22.4
1   202210  124.1  14.6
2   202211   84.5  10.0
3   202212   13.6  -2.8
4   202301   47.9  -1.5
5   202302    1.0   2.3
6   202303   10.5   9.8
7   202304   96.9  13.8
8   202305  155.6  19.5
9   202306  195.6  23.4
10  202307  459.9  26.7
11  202308  298.1  27.2

In [35]:
train = pd.merge(train, weather, on='month', how='left')
train

,month,bus_id,station_name,type,bus_station_ID,6~8_ride,6~8_takeoff,8~10_ride,8~10_takeoff,10~12_ride,...,14~16_ride,14~16_takeoff,16~18_ride,16~18_takeoff,18~20_ride,18~20_takeoff,20~22_ride,20~22_takeoff,rain,temp
0,202209,741,종로2가사거리(00077),서울간선버스,00077,654,354,894,559,809,...,576,769,563,781,574,800,576,776,201.5,22.4
1,202209,470,종로2가사거리(00067),서울간선버스,00067,788,325,1232,626,1265,...,1217,696,1157,815,1074,982,982,954,201.5,22.4
2,202209,100,창경궁.서울대학교병원(00031),서울간선버스,00031,227,708,566,1139,677,...,282,504,208,449,193,450,272,458,201.5,22.4
3,202209,107,창경궁.서울대학교병원(00058),서울간선버스,00058,89,653,164,1209,171,...,101,287,85,230,76,232,80,219,201.5,22.4
4,202209,104,창경궁.서울대학교병원(00024),서울간선버스,00024,376,1064,645,1734,759,...,381,509,323,460,312,460,306,515,201.5,22.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450525,202308,672,김포교통(종점가상)(00081),서울간선버스,00081,0,0,0,0,0,...,0,0,0,0,0,0,0,0,298.1,27.2
450526,202308,9404,구미동차고지(기점가상)(00001),서울광역버스,00001,2,7,2,2,2,...,0,1,1,1,1,1,1,1,298.1,27.2
450527,202308,9404,구미동차고지(종점가상)(00060),서울광역버스,00060,0,1,0,3,0,...,0,1,0,2,0,2,0,2,298.1,27.2
450528,202308,9707,가좌동종점(종점가상)(00078),서울광역버스,00078,0,2,0,10,0,...,0,3,0,6,0,7,0,4,298.1,27.2
450529,202308,9701,가좌동종점(종점가상)(00127),서울광역버스,00127,0,0,0,17,0,...,0,3,0,3,0,1,0,1,298.1,27.2

##2. 파일로 저장

In [36]:
train.to_csv(path+'train.csv', index=False)