<a href="https://colab.research.google.com/github/gchaewon/Euron5th_BusTayo/blob/main/preprocessing_train.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 서울시 버스 승하차 예측 데이터 전처리 - train

In [ ]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')

## 1. 데이터 로딩

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

train 데이터 이어붙이기 22/9 ~ 23/8까지 월별 서울시 버스 승하차 데이터

In [ ]:
path = '/content/drive/MyDrive/Euron/프로젝트/'


train_files = ['bus_22_9.csv', 'bus_22_10.csv', 'bus_22_11.csv', 'bus_22_12.csv', 'bus_23_1.csv', 'bus_23_2.csv',
        'bus_23_3.csv', 'bus_23_4.csv', 'bus_23_5.csv', 'bus_23_6.csv', 'bus_23_7.csv', 'bus_23_8.csv']

train_df = [pd.read_csv(path+'train/'+f, encoding='cp949') for f in train_files]

train = pd.concat(train_df)

print(train.shape)
train.head(1)

(498176, 57)

,사용년월,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,등록일자
0,202209,741,741번(진관차고지~헌인릉입구),100000001,1001,종로2가사거리(00077),92,77,105,118,...,194,263,179,243,163,214,135,10,서울간선버스,20221003

In [ ]:
train.tail(1)

,사용년월,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,교통수단타입코드,교통수단타입명,등록일자
41649,202308,9701,9701번(가좌동~서울역),999800005,~,가좌동종점(종점가상)(00127),0,2,0,6,...,0,0,5,0,7,0,1,50,서울광역버스,20230903

## 2. 전처리

### 1) 불필요한 피처 삭제

등록일자, 교통수단타입코드, 버스정류장ARS번호, 노선명

In [ ]:
train.columns

Index(['사용년월', '노선번호', '노선명', '표준버스정류장ID', '버스정류장ARS번호', '역명', '00시승차총승객수',
       '00시하차총승객수', '1시승차총승객수', '1시하차총승객수', '2시승차총승객수', '2시하차총승객수', '3시승차총승객수',
       '3시하차총승객수', '4시승차총승객수', '4시하차총승객수', '5시승차총승객수', '5시하차총승객수', '6시승차총승객수',
       '6시하차총승객수', '7시승차총승객수', '7시하차총승객수', '8시승차총승객수', '8시하차총승객수', '9시승차총승객수',
       '9시하차총승객수', '10시승차총승객수', '10시하차총승객수', '11시승차총승객수', '11시하차총승객수',
       '12시승차총승객수', '12시하차총승객수', '13시승차총승객수', '13시하차총승객수', '14시승차총승객수',
       '14시하차총승객수', '15시승차총승객수', '15시하차총승객수', '16시승차총승객수', '16시하차총승객수',
       '17시승차총승객수', '17시하차총승객수', '18시승차총승객수', '18시하차총승객수', '19시승차총승객수',
       '19시하차총승객수', '20시승차총승객수', '20시하차총승객수', '21시승차총승객수', '21시하차총승객수',
       '22시승차총승객수', '22시하차총승객수', '23시승차총승객수', '23시하차총승객수', '교통수단타입코드',
       '교통수단타입명', '등록일자'],
      dtype='object')

In [ ]:
train = train.drop(['등록일자', '교통수단타입코드', '버스정류장ARS번호','노선명'], axis =1)
train.columns

Index(['사용년월', '노선번호', '표준버스정류장ID', '역명', '00시승차총승객수', '00시하차총승객수', '1시승차총승객수',
       '1시하차총승객수', '2시승차총승객수', '2시하차총승객수', '3시승차총승객수', '3시하차총승객수', '4시승차총승객수',
       '4시하차총승객수', '5시승차총승객수', '5시하차총승객수', '6시승차총승객수', '6시하차총승객수', '7시승차총승객수',
       '7시하차총승객수', '8시승차총승객수', '8시하차총승객수', '9시승차총승객수', '9시하차총승객수', '10시승차총승객수',
       '10시하차총승객수', '11시승차총승객수', '11시하차총승객수', '12시승차총승객수', '12시하차총승객수',
       '13시승차총승객수', '13시하차총승객수', '14시승차총승객수', '14시하차총승객수', '15시승차총승객수',
       '15시하차총승객수', '16시승차총승객수', '16시하차총승객수', '17시승차총승객수', '17시하차총승객수',
       '18시승차총승객수', '18시하차총승객수', '19시승차총승객수', '19시하차총승객수', '20시승차총승객수',
       '20시하차총승객수', '21시승차총승객수', '21시하차총승객수', '22시승차총승객수', '22시하차총승객수',
       '23시승차총승객수', '23시하차총승객수', '교통수단타입명'],
      dtype='object')

### 2) 퇴근 시간 이후 (20시 ~ 5시) 데이터 삭제

In [ ]:
hours_to_drop = ['20시승차총승객수', '20시하차총승객수', '21시승차총승객수', '21시하차총승객수',
                 '22시승차총승객수', '22시하차총승객수', '23시승차총승객수', '23시하차총승객수',
                 '00시승차총승객수', '00시하차총승객수', '1시승차총승객수', '1시하차총승객수',
                 '2시승차총승객수', '2시하차총승객수', '3시승차총승객수', '3시하차총승객수',
                 '4시승차총승객수', '4시하차총승객수', '5시승차총승객수', '5시하차총승객수']

train = train.drop(columns=hours_to_drop, axis=1)

In [ ]:
train.head(1)

,사용년월,노선번호,표준버스정류장ID,역명,6시승차총승객수,6시하차총승객수,7시승차총승객수,7시하차총승객수,8시승차총승객수,8시하차총승객수,...,15시하차총승객수,16시승차총승객수,16시하차총승객수,17시승차총승객수,17시하차총승객수,18시승차총승객수,18시하차총승객수,19시승차총승객수,19시하차총승객수,교통수단타입명
0,202209,741,100000001,종로2가사거리(00077),139,95,515,259,379,300,...,393,317,436,334,555,416,627,342,389,서울간선버스

### 3) 심야버스 제거

In [ ]:
train = train[train['교통수단타입명'] != '서울심야버스']
count = train[train['교통수단타입명'] == '서울심야버스'].shape[0]
print(f'서울심야버스인 행의 개수: {count}')

서울심야버스인 행의 개수: 0

### 4) 역 고유 번호 피처 추가

역명 피처의 (00000) 5자리 번호를 역 고유 값 피처 역번호로 추가하기

In [ ]:
train['역번호'] = train['역명'].str.extract(r'\((\d+)\)')
train.drop('역명', axis=1, inplace=True)
train.tail(1)

,사용년월,노선번호,표준버스정류장ID,6시승차총승객수,6시하차총승객수,7시승차총승객수,7시하차총승객수,8시승차총승객수,8시하차총승객수,9시승차총승객수,...,16시승차총승객수,16시하차총승객수,17시승차총승객수,17시하차총승객수,18시승차총승객수,18시하차총승객수,19시승차총승객수,19시하차총승객수,교통수단타입명,역번호
41649,202308,9701,999800005,0,0,0,0,0,17,0,...,0,2,0,0,0,1,0,0,서울광역버스,00127

### 5) 피처명 변경
- month(월 단위)
- bus_station_SID (표준버스정류장ID)
- bus_station_ID (역명 뒤 다섯자리)
- bus_ID(노선 번호)
- type(교통 수단 타입명)
- X~Y ride(1시간 단위 승차 총 승객 수)
- X~Y takeoff(1시간 단위 하차 총 승객 수)

In [ ]:
train.columns

Index(['사용년월', '노선번호', '표준버스정류장ID', '6시승차총승객수', '6시하차총승객수', '7시승차총승객수',
       '7시하차총승객수', '8시승차총승객수', '8시하차총승객수', '9시승차총승객수', '9시하차총승객수', '10시승차총승객수',
       '10시하차총승객수', '11시승차총승객수', '11시하차총승객수', '12시승차총승객수', '12시하차총승객수',
       '13시승차총승객수', '13시하차총승객수', '14시승차총승객수', '14시하차총승객수', '15시승차총승객수',
       '15시하차총승객수', '16시승차총승객수', '16시하차총승객수', '17시승차총승객수', '17시하차총승객수',
       '18시승차총승객수', '18시하차총승객수', '19시승차총승객수', '19시하차총승객수', '교통수단타입명', '역번호'],
      dtype='object')

In [ ]:
columns={'사용년월':'month', '노선번호': 'bus_ID', '표준버스정류장ID': 'bus_station_ID',
        '교통수단타입명':'type', '역번호': 'bus_station_ID', '표준버스정류장ID': 'bus_station_SID'}

train.rename(columns=columns, inplace=True)

In [ ]:
# 승하차 칼럼명 변경
for hour in range(6, 20):
    ride_column = f'{hour}시승차총승객수'
    new_ride_column = f'{hour}~{hour+1}_ride'
    train.rename(columns={ride_column: new_ride_column}, inplace=True)

    takeoff_column = f'{hour}시하차총승객수'
    new_takeoff_column = f'{hour}~{hour+1}_takeoff'
    train.rename(columns={takeoff_column: new_takeoff_column}, inplace=True)

In [ ]:
train.head(1)

,month,bus_ID,bus_station_SID,6~7_ride,6~7_takeoff,7~8_ride,7~8_takeoff,8~9_ride,8~9_takeoff,9~10_ride,...,16~17_ride,16~17_takeoff,17~18_ride,17~18_takeoff,18~19_ride,18~19_takeoff,19~20_ride,19~20_takeoff,type,bus_station_ID
0,202209,741,100000001,139,95,515,259,379,300,430,...,317,436,334,555,416,627,342,389,서울간선버스,00077

In [ ]:
train.columns

Index(['month', 'bus_ID', 'bus_station_SID', '6~7_ride', '6~7_takeoff',
       '7~8_ride', '7~8_takeoff', '8~9_ride', '8~9_takeoff', '9~10_ride',
       '9~10_takeoff', '10~11_ride', '10~11_takeoff', '11~12_ride',
       '11~12_takeoff', '12~13_ride', '12~13_takeoff', '13~14_ride',
       '13~14_takeoff', '14~15_ride', '14~15_takeoff', '15~16_ride',
       '15~16_takeoff', '16~17_ride', '16~17_takeoff', '17~18_ride',
       '17~18_takeoff', '18~19_ride', '18~19_takeoff', '19~20_ride',
       '19~20_takeoff', 'type', 'bus_station_ID'],
      dtype='object')

### 6) 2시간씩 묶기

In [ ]:
ride_columns = [col for col in train.columns if '_ride' in col]
takeoff_columns = [col for col in train.columns if '_takeoff' in col]

# 새로운 칼럼 이름
new_ride_columns = ['6~8_ride', '8~10_ride', '10~12_ride', '12~14_ride', '14~16_ride', '16~18_ride', '18~20_ride']
new_takeoff_columns = ['6~8_takeoff', '8~10_takeoff', '10~12_takeoff', '12~14_takeoff', '14~16_takeoff', '16~18_takeoff', '18~20_takeoff']

# 각 시간대에 대해 ride와 takeoff 칼럼을 합쳐서 새로운 칼럼 생성
for i in range(len(new_ride_columns)):
    ride_column_names = ride_columns[i:i+2]
    takeoff_column_names = takeoff_columns[i:i+2]

    train[new_ride_columns[i]] = train[ride_column_names].sum(axis=1)
    train[new_takeoff_columns[i]] = train[takeoff_column_names].sum(axis=1)

columns_to_keep = ['month', 'bus_station_SID', 'bus_station_ID', 'bus_ID', 'type']
train.drop(columns=ride_columns + takeoff_columns, inplace=True)
train = train[columns_to_keep + new_ride_columns + new_takeoff_columns]

In [ ]:
train.columns

Index(['month', 'bus_station_SID', 'bus_station_ID', 'bus_ID', 'type',
       '6~8_ride', '8~10_ride', '10~12_ride', '12~14_ride', '14~16_ride',
       '16~18_ride', '18~20_ride', '6~8_takeoff', '8~10_takeoff',
       '10~12_takeoff', '12~14_takeoff', '14~16_takeoff', '16~18_takeoff',
       '18~20_takeoff'],
      dtype='object')

In [ ]:
train.head(2)

,month,bus_station_SID,bus_station_ID,bus_ID,type,6~8_ride,8~10_ride,10~12_ride,12~14_ride,14~16_ride,16~18_ride,18~20_ride,6~8_takeoff,8~10_takeoff,10~12_takeoff,12~14_takeoff,14~16_takeoff,16~18_takeoff,18~20_takeoff
0,202209,100000001,00077,741,서울간선버스,654,894,809,725,576,563,574,354,559,753,835,769,781,800
1,202209,100000001,00067,470,서울간선버스,788,1232,1265,1269,1217,1157,1074,325,626,782,745,696,815,982

### 7) 카테고리형 피처 처리

1) bus_id(기존 노선번호) 대신 노선 정보에서 routeID (노선 고유 ID)로 대체하기  

https://data.seoul.go.kr/dataList/OA-15262/S/1/datasetView.do

In [ ]:
route_info = pd.read_csv(path+'data/route_info.csv', encoding='utf-8')
route_info.rename(columns={'노선명': 'bus_ID', 'ROUTEID': 'route_ID'}, inplace=True)
route_info

    bus_ID   route_ID
0     0017  100100124
1      01A  100100001
2      01B  106000004
3     0411  104000012
4      100  100100549
..     ...        ...
671   종로11  100900007
672   종로12  100900009
673   종로13  100900002
674   중랑01  106900001
675   중랑02  106900002

[676 rows x 2 columns]

In [ ]:
train = pd.merge(train, route_info, on='bus_ID', how='left')
train

,month,bus_station_SID,bus_station_ID,bus_ID,type,6~8_ride,8~10_ride,10~12_ride,12~14_ride,14~16_ride,16~18_ride,18~20_ride,6~8_takeoff,8~10_takeoff,10~12_takeoff,12~14_takeoff,14~16_takeoff,16~18_takeoff,18~20_takeoff,route_ID
0,202209,100000001,00077,741,서울간선버스,654,894,809,725,576,563,574,354,559,753,835,769,781,800,123000010.0
1,202209,100000001,00067,470,서울간선버스,788,1232,1265,1269,1217,1157,1074,325,626,782,745,696,815,982,100100073.0
2,202209,100000002,00031,100,서울간선버스,227,566,677,419,282,208,193,708,1139,1114,703,504,449,450,100100549.0
3,202209,100000002,00058,107,서울간선버스,89,164,171,120,101,85,76,653,1209,1070,530,287,230,232,100100012.0
4,202209,100000002,00024,104,서울간선버스,376,645,759,594,381,323,312,1064,1734,1765,1004,509,460,460,100100009.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450525,202308,999800002,00081,672,서울간선버스,0,0,0,0,0,0,0,0,0,1,1,0,0,0,100100495.0
450526,202308,999800003,00001,9404,서울광역버스,2,2,2,1,0,1,1,7,2,0,0,1,1,1,100100391.0
450527,202308,999800004,00060,9404,서울광역버스,0,0,0,0,0,0,0,1,3,3,0,1,2,2,100100391.0
450528,202308,999800005,00078,9707,서울광역버스,0,0,0,0,0,0,0,2,10,11,5,3,6,7,100100400.0
450529,202308,999800005,00127,9701,서울광역버스,0,0,0,0,0,0,0,0,17,25,8,3,3,1,100100397.0

In [ ]:
null_routes_df = train[train['route_ID'].isnull()][['bus_ID']].drop_duplicates()
print("route_ID 값이 null인 bus_ID:")
print(null_routes_df)

route_ID 값이 null인 bus_ID:
        bus_ID
37          01
174       9703
204        153
540       9403
1989      성동07
3587      성동06
5412      2235
6048      2234
7274      8112
7655      1156
7661      노원04
8227    성북10-2
8229    성북10-1
13848     은평01
16224     8761
16940     마포14
17538     6649
20190     6513
20318     6611
21498     6635
22871     6654
59772   금천01-1
262874    8001

버스 노선 고유 아이디 (route_ID)와 매핑되지 못한 데이터 처리

버스 노선 고유 아이디가 없는 값 (현재 운행 X) - 111110000 ~ 111110007 사이 숫자로 부여

In [ ]:
train[train['route_ID'].isnull()]['bus_ID'].count()

8051

In [ ]:
null_routes = {'01': 100100001, '9703': 100100398, '153': 111110000, '9403': 100100390, '성동07': 103900005,
               '성동06': 103900007, '2235': 111110001, '2234': 111110002, '8112': 111110003, '1156': 100100166,
               '1157': 100100166, '노원04': 111110004, '성북10-2': 107900017, '성북10-1': 107900014,
               '은평01': 111900002, '8761': 111110005, '마포14': 113900006, '6649': 114000001,
               '6513': 111110007, '6611': 100100295, '6635': 100100311, '6654': 100100322,
                '금천01-1': 117900008, '8001': 106000004}
null_routes = pd.DataFrame.from_dict(null_routes, orient='index', columns=['route_ID']).reset_index()
null_routes.columns = ['bus_ID', 'route_ID']

null_routes

    bus_ID   route_ID
0       01  100100001
1     9703  100100398
2      153  111110000
3     9403  100100390
4     성동07  103900005
5     성동06  103900007
6     2235  111110001
7     2234  111110002
8     8112  111110003
9     1156  100100166
10    1157  100100166
11    노원04  111110004
12  성북10-2  107900017
13  성북10-1  107900014
14    은평01  111900002
15    8761  111110005
16    마포14  113900006
17    6649  114000001
18    6513  111110007
19    6611  100100295
20    6635  100100311
21    6654  100100322
22  금천01-1  117900008
23    8001  106000004

In [ ]:
train = pd.merge(train, null_routes, on='bus_ID', how='left')
train

,month,bus_station_SID,bus_station_ID,bus_ID,type,6~8_ride,8~10_ride,10~12_ride,12~14_ride,14~16_ride,...,18~20_ride,6~8_takeoff,8~10_takeoff,10~12_takeoff,12~14_takeoff,14~16_takeoff,16~18_takeoff,18~20_takeoff,route_ID_x,route_ID_y
0,202209,100000001,00077,741,서울간선버스,654,894,809,725,576,...,574,354,559,753,835,769,781,800,123000010.0,NaN
1,202209,100000001,00067,470,서울간선버스,788,1232,1265,1269,1217,...,1074,325,626,782,745,696,815,982,100100073.0,NaN
2,202209,100000002,00031,100,서울간선버스,227,566,677,419,282,...,193,708,1139,1114,703,504,449,450,100100549.0,NaN
3,202209,100000002,00058,107,서울간선버스,89,164,171,120,101,...,76,653,1209,1070,530,287,230,232,100100012.0,NaN
4,202209,100000002,00024,104,서울간선버스,376,645,759,594,381,...,312,1064,1734,1765,1004,509,460,460,100100009.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450525,202308,999800002,00081,672,서울간선버스,0,0,0,0,0,...,0,0,0,1,1,0,0,0,100100495.0,NaN
450526,202308,999800003,00001,9404,서울광역버스,2,2,2,1,0,...,1,7,2,0,0,1,1,1,100100391.0,NaN
450527,202308,999800004,00060,9404,서울광역버스,0,0,0,0,0,...,0,1,3,3,0,1,2,2,100100391.0,NaN
450528,202308,999800005,00078,9707,서울광역버스,0,0,0,0,0,...,0,2,10,11,5,3,6,7,100100400.0,NaN
450529,202308,999800005,00127,9701,서울광역버스,0,0,0,0,0,...,0,0,17,25,8,3,3,1,100100397.0,NaN

In [ ]:
train['route_ID'] = train['route_ID_x'].fillna(train['route_ID_y'])
train.drop(['route_ID_x', 'route_ID_y'], axis=1, inplace=True)
train.insert(4, 'route_ID', train.pop('route_ID'))

In [ ]:
train.head(2)

,month,bus_station_SID,bus_station_ID,bus_ID,route_ID,type,6~8_ride,8~10_ride,10~12_ride,12~14_ride,14~16_ride,16~18_ride,18~20_ride,6~8_takeoff,8~10_takeoff,10~12_takeoff,12~14_takeoff,14~16_takeoff,16~18_takeoff,18~20_takeoff
0,202209,100000001,00077,741,123000010.0,서울간선버스,654,894,809,725,576,563,574,354,559,753,835,769,781,800
1,202209,100000001,00067,470,100100073.0,서울간선버스,788,1232,1265,1269,1217,1157,1074,325,626,782,745,696,815,982

전부 매핑된 것을 확인할 수 있음

In [ ]:
null_routes_df = train[train['route_ID'].isnull()][['bus_ID']]
print("route_ID 값이 null인 bus_ID:")
print(null_routes_df)
train.drop(['bus_ID'], axis=1, inplace=True)

route_ID 값이 null인 bus_ID:
Empty DataFrame
Columns: [bus_ID]
Index: []


2) type을 서울간선버스 - 0, 서울지선버스-1, 서울마을버스-2, 서울순환버스-3, 서울광역버스-4으로 카테고리화

In [ ]:
type_mapping = {
    '서울간선버스': 0,
    '서울지선버스': 1,
    '서울마을버스': 2,
    '서울순환버스': 3,
    '서울광역버스': 4
}
train['type'].replace(type_mapping, inplace=True)

train.tail(3)

,month,bus_station_SID,bus_station_ID,route_ID,type,6~8_ride,8~10_ride,10~12_ride,12~14_ride,14~16_ride,16~18_ride,18~20_ride,6~8_takeoff,8~10_takeoff,10~12_takeoff,12~14_takeoff,14~16_takeoff,16~18_takeoff,18~20_takeoff
450527,202308,999800004,00060,100100391.0,4,0,0,0,0,0,0,0,1,3,3,0,1,2,2
450528,202308,999800005,00078,100100400.0,4,0,0,0,0,0,0,0,2,10,11,5,3,6,7
450529,202308,999800005,00127,100100397.0,4,0,0,0,0,0,0,0,0,17,25,8,3,3,1

In [ ]:
print("결측치 개수:\n",  train.isna().sum())

결측치 개수:
 month              0
bus_station_SID    0
bus_station_ID     0
route_ID           0
type               0
6~8_ride           0
8~10_ride          0
10~12_ride         0
12~14_ride         0
14~16_ride         0
16~18_ride         0
18~20_ride         0
6~8_takeoff        0
8~10_takeoff       0
10~12_takeoff      0
12~14_takeoff      0
14~16_takeoff      0
16~18_takeoff      0
18~20_takeoff      0
dtype: int64

##2. 파일로 저장

In [ ]:
train.to_csv(path+'train.csv', index=False)